.AppInput {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #333;
	border:1px #999 solid;    
}


/*=====================Page Tools/ Page Control============================================*/

.PageTools {
  padding: 3px 5px 3px 5px;
  background: #f5f5f5;
  border-top:#cccccc 1px solid;
  border-bottom:#cccccc 1px solid;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 11px;
  font-weight: normal;
  color: #000;
}


.PageTools a:link, .PageTools a:visited{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 11px;
  font-weight: normal;
  color: #666;
  text-decoration: none;
}

.PageTools a:hover{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 11px;
  font-weight: normal;
  color: #666;
  text-decoration: underline;
}


.PageControl {
	padding: 3px 3px 3px 5px;
	background: #eef4f9;
	border-top:#cccccc 1px solid;
  	border-bottom:#cccccc 1px solid;
	font-family: Arial, Helvetica, sans-serif;
  	font-size: 11px;
  	font-weight: normal;
  	color: #000;
	vertical-align:  middle;
}

.PageControl a:link , .PageControl a:visited {
	font-family: Arial, Helvetica, sans-serif;
  	font-size: 11px;
  	font-weight: bold;
  	color: #1d7fc6;
	text-decoration: none;
}

.PageControl a:hover {
	font-family: Arial, Helvetica, sans-serif;
  	font-size: 11px;
  	font-weight: bold;
  	color: #1d7fc6;
	text-decoration: underline;
}

/*=====================View Panel Table============================================*/

.ViewPanel{
  border:#b8c6ce 1px solid;

}

.ViewPanelTitle {
	padding: 5px;
	background: #b8c6ce;
	font-family: Arial, Helvetica, sans-serif;
  	font-size: 11px;
 	font-weight: bold;
   color: #000;
}

/*copy from old styles.css*/
SPAN.treetext {
	FONT-WEIGHT: normal; FONT-SIZE: 8pt; COLOR: #1e398d; FONT-FAMILY: verdana, geneva
}

A.Tree {
	FONT-SIZE: 9px; COLOR: black; FONT-FAMILY: verdana,geneva,arial; TEXT-DECORATION: none
}
A.Tree:visited {
	FONT-SIZE: 9px; COLOR: black; FONT-FAMILY: verdana,geneva,arial; TEXT-DECORATION: none
}
A.Tree:active {
	FONT-SIZE: 9px; COLOR: black; FONT-FAMILY: verdana,geneva,arial; TEXT-DECORATION: none
}
A.Tree:hover {
	FONT-SIZE: 9px; COLOR: red; FONT-FAMILY: verdana,geneva,arial; TEXT-DECORATION: none
}

.Legend{
  padding: 3px 5px 3px 5px;
  background: #f5f5f5;
  border:#cccccc 1px solid;
}
 
.Legend td{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10px;
  font-weight: normal;
  color: #000;
  padding: 3px 5px 3px 5px;
}
 
.Legend td h1{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 11px;
  font-weight: bold;
  color: #000;
  padding: 0px;
  margin: 0px;
}



/*===================== BEGIN VIEW RECORD AND LAST UPDATED BAR============================================*/

.ViewRecord{
	background:#fafbf3;
	border: 1px #dbded5 solid;
}

.ViewRecord td{
	font-family: Arial, Helvetica, sans-serif;
  	font-size: 11px;
	color: #000;
	padding: 0px 5px 3px 5px;
}


.message {
	margin: 5px 0;
	display: block;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	color: #d45222;
}

.warning 
{
	color: #d45222;
}
.warningAsterisk 
{
	color: #FF0000;
	font-size: 19px;
	vertical-align: middle;
}

/*===================== REPORT DATA Table============================================*/

.DataHeader td, .DataHeader{
	background:#768e9d;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	color: #fff;
	padding: 5px;
}

.DataHeader a:link, .DataHeader a:visited{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	color: #fff;
	text-decoration: none;
}

.DataHeader a:hover{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	color: #fff;
	text-decoration: underline;
}

.SubHeader {
	background:#efefef;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	color: #000;
	padding: 5px;
}


.Data td{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	padding: 5px 6px;
	color: #000;
}

.odd td{
	background: #f7fafc;
	border-top: 1px #e6e9eb solid;
	border-bottom: 1px #e6e9eb solid;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	padding: 5px 6px;
	color: #000;
}

.DataHighlighted td
{
	background: #FFCC99;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	padding: 5px 6px;
	color: #000;
}

.oddHighlighted td{
	background: #FFCC99;
	border-top: 1px #e6e9eb solid;
	border-bottom: 1px #e6e9eb solid;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	padding: 5px 6px;
	color: #000;
}

a.AgentName {
	font-family: Arial, Helvetica, sans-serif !important;
	font-size: 11px !important;
	font-weight: bold !important;
	color: #1d7fc6 !important;
	text-decoration: none !important;
}

a.AgentName:hover {
	font-family: Arial, Helvetica, sans-serif !important;
	font-size: 11px !important;
	font-weight: bold !important;
	color: #1d7fc6 !important;
	text-decoration: underline !important;
}


a.AgentName:visited {
	font-family: Arial, Helvetica, sans-serif !important;
	font-size: 11px !important;
	font-weight: bold !important;
	color: #1d7fc6 !important;
	text-decoration: none !important;
}

a.blacklink:link {
            font-family: Arial, Helvetica, sans-serif;
            font-size: 11px;
            color: #000;
            text-decoration: underline;
}
 
a.blacklink:hover {
            font-family: Arial, Helvetica, sans-serif;
            font-size: 11px;
            color: #000;
            text-decoration: none;
}
 
a.blacklink:visited {
            font-family: Arial, Helvetica, sans-serif;
            font-size: 11px;
            color: #000;
            text-decoration: underline;
}
 
a.blacklink:active {
            font-family: Arial, Helvetica, sans-serif;
            font-size: 11px;
            color: #000;
            text-decoration: none;
}

.subtext{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #000;
}

.newMessage {
  font-weight: bold;
}

.readMessage {
	font-weight: normal;
}

.highlight  {
	background-color: #f5fce9;
}

#processingMessage {
            padding: 10px;
            height: 60px;
            width: 400px;
            color:#990000;
            border: 1px #ccc solid;
            padding: 5px;
            background: #f7f4e2;
            vertical-align: middle;
            font-family: Arial,Geneva, Helvetica, sans-serif; 
            font-size: 11px; 
            font-weight: bold;
            text-decoration: none;
}

#processingMessage P{ margin: 10px 0 0 0}


.selected  {
	background-color:  Yellow;
	color: Black;
	text-decoration:none;

}

.SearchTable {
	border:1px #999 solid;
	FONT-WEIGHT: normal; 
	FONT-SIZE: 11px; 
	FONT-FAMILY: verdana;
	COLOR: #000000; 
}

.SearchTableHeader {
	border-bottom: #999 1px solid;
	background-color: #6E7E97;
	padding-left: 8px;
	FONT-WEIGHT: normal; 
	FONT-SIZE: 12px; 
	FONT-FAMILY: verdana, geneva;
	COLOR: #FFFFFF; 
	height: 25px;
}

.SearchTD
{
	padding: 0px 10px 0px 15px;
}

.DocUnread 
{
	FONT-WEIGHT: bold; 
	COLOR: black;
}

.DocRead 
{
	FONT-WEIGHT: normal; 
	COLOR:Gray; 
}
 
  .passwordContainer
  {
  	visibility: hidden;   
    width: 0px;
    height:0px;
  }
 
  .passwordContainerOnFocus {
    border: 1px solid #A3B3C2;
    background-color: #DAEBFD;
    color: #000;
    width: 390px;
    font-size: 11px;
    padding: 7px 15px;
    margin: 10px 0;
    visibility: visible;   
  }
  .pwdRules {
  	visibility: hidden;
  	width: 0px;
    height:0px;
  }
  .passwordContainerOnBlur {
    visibility: hidden;   
    width: 0px;
    height:0px;
    
  }
  .pwdRulesOnBlur {
  	visibility:visible;
  	 }
  .passwordHeader {
    font-size: 12px;
  }

  img.imgPosition {
    position: relative;
    top: 3px;
  }

  .externalStyle {
  margin-left:22px;
	width: 225px;
}

.ValidationCustomError
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-style: normal;	
	font-weight: bold;
	font-variant: normal;
	padding: 0px 10px 0px 0px;
	
}

.LineTD
{ 
	border-right-width: 1px;
    border-right-color: #666;	
    border-right-style: solid;
}

/*Start RSA Styles*/

.container-fluid {
    margin-left: auto;
    margin-right: auto;
}
.row {
    clear: both;
    margin-bottom: 7px;
    margin-top: 7px;
    min-height: 1px;
    padding: 0 10px 0 5px;
    width: 100%;
}
.col_full {
    width: 100%;
}

.instructionText {
    display: inline-block;
    float: left;
    overflow: visible;
    padding: 10px 10px 5px 0px;
    font-style: italic;
    word-wrap: break-word;
}

.errorText {
    clear: left;
    color: red;
    /*margin-left: 2px;*/
    min-height: 1px;
    padding: 4px 0;
    text-indent: 10px;
    width: auto;
}
.btn-continue {
    /*float: right;*/
    margin-right: 20px;
    background-color: #00a5db;
    border-color: white;
    color: white;
    height:35px;
    width:80px;
}
.btn-cancel {
    float: left;
    margin-left: 10px;
    background-color: #00a5db;
    border-color: white;
    color: white;
}
.labelText {
    font-weight: bold;
}
/*End RSA Styles*/